body{
   
    background: linear-gradient(rgba(17, 17, 17, 0.8), rgba(20, 20, 20, 1)),url(WhatsApp\ Image\ 2022-10-29\ at\ 22.38.45.jpeg);
     background-position: center center;
   background-size: cover;
   background-position-y: 0px;
    background-repeat: no-repeat;
      color: aliceblue;
      
  }
  .corpo{
      width: 960px;
      margin: auto;
  }
  .conteudo{
      display: table;
  
  }
  .imagem{
      display: table-cell;
      width: 40px;
      float: left;
  
  }
  .texto{
      display: table-cell;
      float: left;
      
  }
  header{
      width: 100%;
      height: 7vh;
      background-color: rgba(22,22,22,0.2);
  
  }
  .menu-content{
      text-transform: uppercase;
      height: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 1.8rem;
  }
  
  .logo{
      font-size: 1.8rem;
      letter-spacing: 0.4rem;
      cursor: pointer;
  }
  .menu-content .list-itens{
      display: flex;
      list-style: none;
      gap: 20px;
  }
  .menu-content .list-itens a{
      text-decoration: none;
      color: white;
      padding: 1.5rem;
      transition: 2ms ease-in;
      position: relative;
  }
  .menu-content .list-itens a:before{
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0px;
      height: 1px;
      background-color: rgb(251,255,0);
      transition: all 1.5s ease;
  }
  .menu-content .list-itens a:hover::before{
      width: 100%;
  }